.auth-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    text-align: center;
    gap: 14px;

    h4 {
        font-size: 20px;
        font-weight: 500;
    }

    h6 {
        font-size: 16px;
        font-weight: 400;
        color: var(--grey);

        span {
            color: var(--yellow);
            cursor: pointer;
        }
    }

    p {
        color: var(--red);
        font-size: 14px;
        font-weight: 500;
        &.wait{
            color: var(--yellow);
        }
    }

    .upload-file {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-secondary);
        cursor: pointer;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        position: relative;

        svg {
            position: absolute;
        }
        .layer-filter{
            opacity: 0;
            border-radius: 50%;
        }
        &.uploaded {

            .layer-filter,
            svg {
                opacity: 0;
                transition: opacity .1s ease-in;
            }

            &:hover {

                .layer-filter,
                svg {
                    opacity: 1;
                }
            }
        }
        input{
            width: 100%;
            position: absolute;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }

    .two-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }

    .input-wrapper {
        flex-direction: column;
        gap: 7px;
        width: 100%;
        display: flex;

        .input-label {
            align-items: flex-start;
            gap: 10px;
            display: flex;

            h5,
            p {
                font-size: 14px;
                font-weight: 400;
            }

            h5 {
                color: var(--grey);
            }

            p {
                color: var(--red);
            }
        }

        .input-container {
            background: var(--bg-secondary);
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            gap: 14px;
            width: 100%;
            padding: 9px 14px;
            display: flex;
            box-shadow: 0 4.05px 50.625px -17.212px #00000040;
            position: relative;
            .svg-wrap{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .submit {
            color: var(--off-white);
            font-size: 14px;
            font-weight: 500;
            display: inline-block;
            background-color: var(--bg-secondary);
            border-radius: 9px;
            padding: 9px 14px;
            box-shadow: 0 4.05px 50.625px -17.212px #00000040;
            cursor: pointer;
        }

    }
}