.documentview-wrapper {
    background: var(--bg-ternary);
    flex-direction: column;
    align-items: center;
    gap: 22px;
    width: 275px;
    height: 100%;
    padding: 22px 38px;
    display: flex;
    position: relative;
    box-shadow: 3px 0 45px -11.25px #00000080;
    flex-shrink: 0;
    z-index: 2000;

    .documentview-header {
        justify-content: center;
        align-items: center;
        gap: 22px;
        width: 100%;
        margin-bottom: 15px;
        display: flex;

        h4 {
            flex: 1 0 0;
            font-size: 14px;
            font-weight: 500;
        }

        .button-container {
            background: var(--light-black);
            border-radius: 12px;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            display: flex;
            box-shadow: 0 3px 18.75px -3.75px #00000040;
        }
    }

    .accordin-container {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        display: flex;

        .accordin-header {
            justify-content: space-between;
            align-items: center;
            width: 100%;
            display: flex;

            .accordin-name {
                align-items: center;
                gap: 4px;
                display: flex;

                h3 {
                    color: var(--grey);
                    font-size: 10px;
                    font-weight: 500;
                }

                p {
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }

        .accordin-content {
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 12px;
            width: 100%;
            display: flex;

            .accordin-row {
                justify-content: space-between;
                align-items: center;
                width: 100%;
                display: flex;

                .accordin-info {
                    align-items: center;
                    gap: 14px;
                    display: flex;

                    .image-wrapper {
                        width: 22px;
                        height: 22px;
                    }

                    .info-content {
                        align-items: center;
                        gap: 8px;
                        display: flex;

                        cursor: pointer;

                        h6,
                        p {

                            font-weight: 500;
                        }

                        h6 {
                            font-size: 10px;
                        }

                        p {
                            font-size: 8px;
                            color: var(--yellow);
                        }

                        &.document h6 {
                            font-weight: 400;
                        }
                    }
                }
            }

            .expand {
                justify-content: center;
                align-items: center;
                width: 100%;
                display: flex;
                position: relative;

                .option {
                    gap: 9px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    h6 {
                        font-size: 10px;
                        font-weight: 500;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 50px;
                    left: 0;
                    top: 0;
                    transform: translateY(-100%);
                    background: linear-gradient(0deg, var(--bg-ternary), transparent 100%);
                    pointer-events: none;
                }
            }
        }

        .accordin-grid {
            display: grid;
            grid-template-rows: repeat(2, minmax(0, 1fr));
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 4px;
            width: 100%;

            .image-wrapper {
                width: 100%;
                height: 45px;
                img {
                    border-radius: 9px;
                }

                .layer-filter {
                    border-radius: 9px;
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 1100px) {
  .documentview-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(10%);
  }
}
@media (max-width: 700px) {
  .documentview-wrapper {
    width: 100%;
  }
}