// === Reset & Base ===
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
*::-webkit-scrollbar{
  width: 0;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: normal;
  font-variation-settings: normal;

  // === Theme Variables ===
  --bg-primary: #161819;
  --bg-secondary: #1E2021;
  --bg-ternary: #191d1e;

  --text-primary: #ffffff;
  --text-secondary: #7C7E7F;
  --placeholder: #7C7E7F;

  --border: #26282A;
  --border-2: #161819;
  --border-3: #404040;

  --grey: #7C7E7F;
  --light-black: #21252a;
  --offline: #555555;

  --red: #f1673f;
  --blue: #3199FF;
  --green: #75C898;
  --yellow: #FFDC6B;

  --white: #ffffff;
  --off-white: #EEEEEE;
  --scrollbar: #2C2E2F;
}

// === Layout ===
#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.main-layout-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  @media (max-width: 700px) {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-primary);
  }
}

// === Media & Images ===
img,
svg,
.image-wrapper {
  cursor: pointer;
  flex-shrink: 0;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    border-radius: 50%;
  }

  .layer-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// === Typography & Utility ===
.text-white {
  color: var(--white);
}

a {
  text-decoration: none;
}

// === Form Elements ===
input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  caret-color: var(--placeholder);
  color: var(--text-primary);

  &::placeholder {
    color: var(--placeholder);
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

button {
  border: none;
  outline: none;
}
